html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #222;
}


.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 4rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 91%;
    z-index: 20;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo img {
    width: 2.5rem;
    height: 2.5rem;
}

.texto-logo h1 {
    font-size: 1.23rem;
    margin: 0;
    font-weight: 600;
}

.texto-logo p {
    font-size: 0.75rem;
    color: #666;
    margin: 0;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: color 0.2s;
}

.menu a:hover {
    color: #8da9bf;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-login {
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
    padding: 0.7rem 1.3rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-login:hover {
    color: white;
    background-color: #c4bbd3;
}

.btn-unete {
    background-color: #93B0C5;
    color: white;
    border: none;
    padding: 0.7rem 1.3rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 10% 5rem;
    gap: 60px;
}

.hero-texto {
    flex: 1;
    max-width: 600px;
}

.hero-texto h1 {
    font-family: 'Caudex', serif;
    font-size: 3.62rem;
    line-height: 1.2;
    color: #1e293b;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.hero-texto h1 span {
    font-family: 'Caudex', serif;
    color: #88acc6;
    font-weight: 700;
}

.hero-texto p {
    color: #475569;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.hero-botones {
    display: flex;
    gap: 1.3rem;
}

.btn-primario {
    background-color: #93B0C5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primario:hover {
    background-color: #7a9bb1;
}

.btn-secundario {
    background-color: transparent;
    color: #334155;
    border: 2px solid #93B0C5;
    border-radius: 8px;
    padding: 0.8rem 1.75rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-secundario:hover {
    background-color: #93B0C5;
    color: white;
}

.datos {
    display: flex;
    justify-content: space-between;
    width: 21.1rem;
    margin-top: 2rem;
}

.datos p {
    margin: 0;
    font-size: 0.8rem;
}

.hero-imagen img {
    width: 34vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


/*FOOTER*/
.footer {
    background-color: #fafbfc;
    padding: 6rem 8rem 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #334155;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.footer-col h4 {
    font-family: 'Caudex', serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #000;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 0.8rem;
}

.footer-col ul li a {
    text-decoration: none;
    color: #64748b;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #000;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.footer-logo img {
    width: 40px;
    height: 40px;
}

.footer-logo .logo {
    font-family: 'Caudex', serif;
    font-size: 1.5rem;
    color: #1e293b;
    margin: 0;
}

.footer-logo .slogan {
    font-size: 0.8rem;
    color: #64748b;
    margin: 0;
}

.footer-col.marca .descripcion {
    margin-top: 1rem;
    max-width: 300px;
    font-size: 0.8rem;
    color: #64748b;
    line-height: 1.5;
}

.footer hr {
    border: none;
    border-top: 1px solid #e2e8f0;
    margin-bottom: 1.5rem;
}

.footer-copy {
    text-align: center;
    font-size: 0.8rem;
    color: #64748b;
}

.container {
    background-color: #fafbfc;
    padding: 2.5rem 5rem;
    text-align: center;
    font-family: 'Caudex', serif;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #64748b;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.column-Artistas .column-title {
    font-size: 1.6rem;
    color: #64748b;

}

.column-clientes .column-title {
    font-size: 1.6rem;
    color: #677b62;
}

.column-subtitle {
    font-size: 1rem;
    color: #777;
    margin-bottom: 1.8rem;
}

.card {
    border: 2px solid #c8d2db;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin-bottom: 1.2rem;
    background: #fff;
}

.card-green {
    border-color: #b7d8c0;
    background: #f8fff8;
}

.blue i {
    padding: 0.6rem 0.4rem;
    background-color: #d2dded;
    color: #47576e;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.blue i:hover {
    border: 1px solid #64748b;
    box-shadow: 0 0 30px #dbdee0;
}

.blue:hover i {
    background-color: #47576e;
    color: #ffffff;
    padding: 0.7rem 0.5rem;
}

.gree i {
    padding: 0.6rem 0.4rem;
    background-color: #b7d8c0;
    color: #5b7562;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: 0.3s;

}

.gree i:hover {
    border: 1px solid #b7d8c0;
    box-shadow: 0 0 30px #dbdee0;
}

.gree:hover i {
    background-color: #5b7562;
    color: #ffffff;
    padding: 0.7rem 0.5rem;
}

.card h3 {
    font-size: 1.2rem;
}

.card p {
    margin: 0;
    color: #555;
}


.por_que {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 5rem 0;
}

.por_que h2 {
    font-family: 'Caudex', serif;
    padding: 0.5rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.por_que span {
    color: #C2B3D9;
}

.por_que p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 3.5rem;
    color: #64748b;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.3rem;
    margin-bottom: 3.5rem;
}

.por_que-container {
    position: relative;
    border: 1px solid #000;
    border-color: rgb(241, 239, 239);
    border-radius: 15px;
    text-align: center;
    transition: all 0.5s ease;
    width: 12rem;
    height: 13rem;
    padding: 1rem;
}

.por_que-container:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    border-color: #C2B3D9;
    transition: all 0.5s ease;
}


.por_que-container h3 {
    font-family: 'Caudex', serif;
    font-size: 1rem;
}

.por_que-container p {
    font-size: 0.8rem;
    color: #64748b;
    font-weight: 500;
}

.iconos {
    width: 70px;
    height: 70px;
}

.por_que-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img-container {
    position: relative;
    width: 35%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    filter: brightness(0.9);
    transition: 0.4s;
}

.img-container img:hover {
    transform: scale(1.1);
}

.title-image {
    position: absolute;
    bottom: 70px;
    left: 25px;
    font-family: "Caudex", serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.text-image {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: white;
    max-width: 80%;
}

.beneficiarios {
    background-color: #fafbfc;
    font-family: 'Caudex', serif;
}

.beneficios {
    text-align: center;
    font-family: 'Caudex', serif;
    padding: 0.1rem;
}

.beneficios h2 {
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0;
    margin-top: 4rem;
}

.beneficios p {
    font-size: 1.5rem;
    color: #64748b;
    margin: 0;
    margin-top: 1rem;
    padding: 0 10px;
}

.beneficios-clientes-artistas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 1rem 10rem 6rem 10rem;
    margin-top: 2rem;
}

.card {
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    transition: 0.2s;
}

.card:hover {
    border: 1px solid #64748b;
    box-shadow: 0 0 30px #dbdee0;
}

.card .Be {
    padding: 0.6rem 0.4rem;
    background-color: #d2dded;
    color: #47576e;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.card:hover .Be {
    background-color: #47576e;
    color: #ffffff;
    padding: 0.7rem 0.5rem;
}

.card h3 {
    margin: 0 0 8px 0;
}

.card p {
    margin: 0;
    color: black;
    font-size: 14px;
    line-height: 1.5;
}

.testimonios {
    text-align: center;
    margin: 4rem 0 4rem 0;
}

.testimonios h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-family: 'Caudex', serif;
}

.testimonios .sub {
    color: #666;
    margin-bottom: 50px;
    font-size: 16px;
}

.test-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.test-card {
    width: 330px;
    padding: 25px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    border: 2px solid transparent;
    transition: .3s ease;
    text-align: left;
}

.test-card:hover {
    border-color: #47576e;
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.estrellas {
    color: #f7c531;
    font-size: 20px;
    margin-bottom: 12px;
}

.test-card .texto {
    font-size: 15px;
    color: #444;
    margin-bottom: 25px;
    line-height: 1.6;
}

.test-card .textito {
    margin-bottom: 50px;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user h4 {
    margin: 0;
    font-size: 16px;
    color: #111;
}

.user span {
    font-size: 14px;
    color: #777;
}


.dudas {
    text-align: center;
    padding: 40px 0 70px 0;
    background-color: #fafbfc;
}

.dudas .tag {
    background: #e6f7f3;
    padding: 6px 16px;
    border-radius: 20px;
    color: #42a58a;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 15px;
}

.dudas h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-family: 'Caudex', serif;
}

.dudas .sub {
    color: #47576e;
    font-size: 16px;
    margin: 30px 0 50px 0;
}

.dudas-container {
    width: 70%;
    margin: auto;
    text-align: left;
}

details {
    border-bottom: 2px solid #ddd;
    padding: 18px 15px;
    cursor: pointer;
    transition: 0.3s;
}

details:hover {
    background-color: #ddd;
    border-radius: 5px;
}

summary {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: "⌄";
    font-size: 22px;
    transition: transform .3s ease;
}

/* Rotar flecha al abrir */
details[open] summary::after {
    transform: rotate(180deg);
}

details p {
    padding: 10px 0 15px 0;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    animation: fade .3s ease;
}

.seccion-contacto {
    padding: 2rem 0 7rem 0;
}

.contacto-box {
    margin: auto;
    border-radius: 10px;
    width: 45%;
    height: 67%;
    box-shadow: 0 0 1px 0 #bac8da;
    background-color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 50px rgb(216, 216, 216);
}

.seccion-contacto h2 {
    font-family: "Caudex", serif;
    text-align: center;
    font-size: 2rem;
}

.seccion-contacto p {
    text-align: center;
    color: #65758b;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.espacios {
    font-size: 0.74rem;
}

.box {
    text-align: center;
}

input,
textarea {
    width: 94.6%;
    border-radius: 7px;
    padding: 0.76rem;
    border: none;
    outline: none;
    border: 1px solid #e1e1e1;
    margin-top: 0.6rem;
    box-sizing: border-box;
}

input:focus {
    outline: 3px solid #8fa3c0;
    outline-offset: 2px;
}

label {
    margin: 0;
    color: #000000;
    font-size: 0.8rem;
    font-weight: bolder;
    margin-left: 0.82rem;
    font-family: "Caudex", serif;
}

.formulario {
    position: relative;
}

.nombreCompleto {
    margin-top: 1.2rem;
}

.correo {
    margin-top: 1.5rem;
}

.boton-iniciarSesion {
    text-align: center;
    margin-bottom: 1rem;
}

.mensaje {
    margin-top: 1.9rem;
}

textarea {
    min-width: 94.6%;
    resize: none;
    min-height: 60px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.boton-iniciar-boton {
    padding: 0.6rem;
    font-size: 1.12rem;
    width: 95%;
    margin-top: 2rem;
    background-color: #8fa3c0;
    color: white;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}

.boton-iniciar-boton:hover {
    background-color: #a9bdda;
}


.listo-para {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    text-align: center;
}

.listo-para h2 {
    font-family: 'Caudex', serif;
    font-size: 58px;
    line-height: 1.2;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}

.listo-para p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 70px;
    color: #64748b;
}

.listo-para-botones {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.listo-para-boton-registro {
    background-image: none;
    background-color: #93B0C5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listo-para-boton-Buscar {
    background-image: none;
    background-color: white;
    color: rgb(155, 201, 155);
    border-color: rgb(155, 201, 155);
    border-width: 1px;
    border-radius: 8px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.listo-para-boton-registro:hover {
    background-color: #7a9bb1;
}

.listo-para-boton-Buscar:hover {
    color: white;
    background-color: #deecde;
}

/**/

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    width: 85%;
    max-width: 350px;
    padding: 1.8rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.3s ease;
}

.modal-content h3 {
    margin: 0;
    font-size: 1.4rem;
    font-family: "Caudex", serif;
}

.modal-content p {
    color: #65758b;
    margin: 0.7rem 0 1.5rem;
    font-size: 0.9rem;
}

.modal-content button {
    background: #8fa3c0;
    color: white;
    border: none;
    padding: 0.6rem 1.4rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.modal-content button:hover {
    background: #a9bdda;
}

@keyframes aparecer {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


/**/

@media (max-width: 1100px) {
    .contacto-box {
        width: 85vw;
        height: auto;
        padding: 5vw;
    }

    button {
        font-size: 4vw;
        padding: 2vw;
    }

    h1 {
        font-size: 2.4rem;
        margin-top: 5vh;
    }
}

/*Tablets y pantallas medianas*/
@media (max-width: 900px) {
    .encabezado {
        padding: 0.75rem 1.5rem;
    }

    .menu {
        gap: 1rem;
    }

    .acciones {
        gap: 0.5rem;
    }

    .btn-login,
    .btn-unete {
        padding: 0.55rem 1rem;
        font-size: 0.85rem;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 6rem 1.5rem 3rem;
        gap: 30px;
    }

    .hero-texto h1 {
        font-size: 2.7rem;
    }

    .hero-imagen img {
        width: 100%;
        height: auto;
    }

    .hero-botones {
        justify-content: center;
    }

    .datos {
        justify-content: center;
        gap: 1.5rem;
        width: 100%;
    }

}

/*PRUEBA*/
@media (max-width: 700px) {
    .encabezado {
        display: none;
    }

}

/*Celulares pequeños*/
@media (max-width: 480px) {

    .hero-texto h1 {
        font-size: 2rem;
    }

    .btn-primario,
    .btn-secundario {
        width: 100%;
        padding: 0.9rem;
    }

    .datos {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

}