/*HEADER*/
html {
    font-family: 48px;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 20;
    width: 92.1%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.texto-logo h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.texto-logo p {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: color 0.2s;
}

.menu a:hover {
    color: #8da9bf;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-login {
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-login:hover {
    color: white;
    background-color: #c4bbd3;
}

.btn-unete {
    background-color: #93B0C5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}


/*MAIN*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    gap: 60px;
}

.hero-texto {
    flex: 1;
    max-width: 600px;
}

.hero-texto h1 {
    font-family: 'Caudex', serif;
    font-size: 58px;
    line-height: 1.2;
    color: #1e293b;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-texto h1 span {
    font-family: 'Caudex', serif;
    color: #88acc6;
    font-weight: 700;
}


.hero-texto p {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #475569;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.hero-botones {
    display: flex;
    gap: 20px;
}

.datos {
    display: flex;
    justify-content: space-between;
    width: 22vw;
    margin-top: 2rem;
}

.datos p {
    margin: 0;
    font-size: 0.8rem;
}

.btn-primario {
    background-color: #93B0C5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primario:hover {
    background-color: #7a9bb1;
}

.btn-secundario {
    background-color: transparent;
    color: #334155;
    border: 2px solid #93B0C5;
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-secundario:hover {
    background-color: #93B0C5;
    color: white;
}

.hero-imagen img {
    width: 520px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/*FOOTER*/
.footer {
    background-color: #fafbfc;
    padding: 60px 120px 20px;
    font-family: 'Poppins', sans-serif;
    color: #334155;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 40px;
}

.footer-col h4 {
    font-family: 'Caudex', serif;
    font-size: 18px;
    margin-bottom: 20px;
    color: #000;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #64748b;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #000;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-logo img {
    width: 40px;
    height: 40px;
}

.footer-logo .logo {
    font-family: 'Caudex', serif;
    font-size: 20px;
    color: #1e293b;
    margin: 0;
}

.footer-logo .slogan {
    font-size: 14px;
    color: #64748b;
    margin: 0;
}

.footer-col.marca .descripcion {
    margin-top: 16px;
    max-width: 300px;
    font-size: 15px;
    color: #64748b;
    line-height: 1.5;
}

.footer hr {
    border: none;
    border-top: 1px solid #e2e8f0;
    margin-bottom: 20px;
}

.footer-copy {
    text-align: center;
    font-size: 14px;
    color: #64748b;
}

/*SECTION*/
.section {
    /*fafbfc - fafbfc*/
    background-color: #fafbfc;
    text-align: center;
    color: #000;
    padding-top: 31px;
    padding-bottom: 63px;
}

.section-texto h2 {
    font-family: 'Caudex', serif;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1;
}

.section-texto p {
    color: #666;
    font-family: 30px;
}

.section-segmento {
    font-family: 'Caudex', serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 250px;
    list-style-type: none;
    margin-top: 42px;
}

.section-artistas {
    color: hsl(206 28% 65%);
    line-height: 1.8;
    margin-right: 75px;
}

.section-clientes {
    color: hsl(148 25% 70%);
    line-height: 1.8;
    margin-right: 85px;
}

.section .section-artistas p {
    font-size: 17px;
    color: #666;
    margin: 0;
    margin-right: 8px;
}

.section .section-clientes p {
    font-size: 17px;
    color: #666;
    margin: 0;
    margin-right: 8px;
}

/**/
.section-opciones {
    display: flex;
    justify-content: space-between;
    margin-top: -37px;
    padding: 0 125px;
    text-align: left;
}

.section-opciones li {
    font-family: 'Caudex', serif;
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    line-height: 50px;
    border-radius: 10px;
}

.section-opciones-artistas li {
    border: 1px solid hsl(206 28% 65%);
    margin-top: 25px;
}

.section-opciones-artistas-logo {
    display: flex;
}

.section-opciones-artistas-logo i {

    font-size: 26px;
    margin-left: 20px;
    margin-top: 22px;
    color: hsl(206 28% 65%);
    border-radius: 50px;
    padding: 10px;
    background-color: #eeeff0;
}

.section-opciones h4 {
    margin: 0;
    margin-top: 21px;
    margin-left: 20px;
}

.title-artistas p {
    color: #666;
    position: relative;
    right: 50px;
    bottom: 11px;
    margin: 0;
    margin-top: 20px;
}

/*CLIENTES*/
.section-opciones-clientes li {
    border: 1px solid hsl(148 25% 70%);
    margin-top: 25px;
    margin-right: 80px;
}

.section-opciones-clientes-logo {
    display: flex;
}

.section-opciones-clientes-logo i {

    font-size: 26px;
    margin-left: 20px;
    margin-top: 22px;
    color: hsl(148 25% 70%);
    border-radius: 50px;
    padding: 10px;
    background-color: #eeeff0;
}

.title-clientes p {
    color: #666;
    position: relative;
    right: 50px;
    bottom: 11px;
    margin: 0;
    margin-top: 20px;
    margin-right: 55px;
}

/*Por qué elegir ArteMatch*/
.por_que {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    padding-top: 23px;
    padding-bottom: 82px;
}

.por_que h2 {
    font-family: 'Caudex', serif;
    font-size: 58px;
    line-height: 1.2;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}

.por_que span {
    color: #C2B3D9;
}

.por_que p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 70px;
    color: #64748b;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 60px;

}

.por_que-container {
    position: relative;
    border: 1px solid #000;
    border-color: rgb(241, 239, 239);
    border-radius: 10%;
    text-align: center;
    width: 340px;
    height: 180px;
    transition: all 0.5s ease;
}

.por_que-container:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    border-color: #C2B3D9;
    transition: all 0.5s ease;
}


.por_que-container h3 {
    font-family: 'Caudex', serif;
    margin-top: 10px;
    font-size: 16px;
}

.por_que-container p {
    font-size: 12px;
    color: #64748b;
    font-weight: 500;
}

.iconos {
    width: 70px;
    height: 70px;
    margin-bottom: 1px;
}

.por_que-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img-container {
    width: 500px;
    height: auto;
    border-radius: 20px;
    position: relative;
    background-color: #000;
    transform: translate(-300px);
    overflow: hidden;
    transform: translate(0px);
    z-index: 10;
}

.img-container img {
    border-radius: 20px;
    transition: all 0.5s ease;
    object-fit: cover;
    width: 100%;
    display: block;
    filter: brightness(0.9);
}

.img-container img:hover {
    transform: scale(1.1);
}

.beneficiarios {
    background-color: #fafbfc;
    font-family: 'Caudex', serif;
}

.beneficios {
    text-align: center;
    font-family: 'Caudex', serif;
    padding: 0.1rem;
}

.beneficios h2 {
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0;
    margin-top: 4rem;

}

.beneficios p {
    font-size: 1.5rem;
    color: #64748b;
    margin: 0;
    margin-top: 1rem;
}

.beneficios-clientes-artistas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 1rem 10rem 6rem 10rem;
    margin-top: 2rem;
}

.card {
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    transition: 0.2s;
}

.card:hover {
    border: 1px solid #64748b;
    box-shadow: 0 0 30px #dbdee0;
}

.card .fa-solid {
    padding: 0.6rem 0.4rem;
    background-color: #d2dded;
    color: #47576e;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.card:hover .fa-solid {
    background-color: #47576e;
    color: #ffffff;
    padding: 0.7rem 0.5rem;
}

.icono {
    background: #ffe9df;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 20px;
    color: #e07a4b;
    margin-bottom: 10px;
}

.card h3 {
    margin: 0 0 8px 0;
}

.card p {
    margin: 0;
    color: black;
    font-size: 14px;
    line-height: 1.5;
}


.testimonios {
    text-align: center;
    margin: 60px 0 100px 0;
}


.testimonios h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-family: 'Caudex', serif;
}

.testimonios .sub {
    color: #666;
    margin-bottom: 50px;
    font-size: 16px;
}

.test-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.test-card {
    width: 330px;
    padding: 25px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    border: 2px solid transparent;
    transition: .3s ease;
    text-align: left;
}

.test-card:hover {
    border-color: #47576e;
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.estrellas {
    color: #f7c531;
    font-size: 20px;
    margin-bottom: 12px;
}

.test-card .texto {
    font-size: 15px;
    color: #444;
    margin-bottom: 25px;
    line-height: 1.6;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user h4 {
    margin: 0;
    font-size: 16px;
    color: #111;
}

.user span {
    font-size: 14px;
    color: #777;
}




.dudas {
    text-align: center;
    padding: 40px 0 70px 0;
    background-color: #fafbfc;

}

.dudas .tag {
    background: #e6f7f3;
    padding: 6px 16px;
    border-radius: 20px;
    color: #42a58a;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 15px;
}

.dudas h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-family: 'Caudex', serif;
}

.dudas .sub {
    color: #47576e;
    font-size: 16px;
    margin: 30px 0 50px 0;
}

.dudas-container {
    width: 70%;
    margin: auto;
    text-align: left;
}

details {
    border-bottom: 2px solid #ddd;
    padding: 18px 15px;
    cursor: pointer;
    transition: 0.3s;
}

details:hover {
    background-color: #ddd;
    border-radius: 5px;
}

summary {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: "⌄";
    font-size: 22px;
    transition: transform .3s ease;
}

/* Rotar flecha al abrir */
details[open] summary::after {
    transform: rotate(180deg);
}

details p {
    padding: 10px 0 15px 0;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    animation: fade .3s ease;
}




.title-image {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: "Caudex", serif;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.text-image {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: white;
    width: 600px;
}

.listo-para {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    text-align: center;
}

.listo-para h2 {
    font-family: 'Caudex', serif;
    font-size: 58px;
    line-height: 1.2;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}

.listo-para p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;

    font-weight: 400;
    margin-bottom: 70px;
    color: #64748b;
}

.listo-para-botones {
    display: flex;
    gap: 100px;
}


.listo-para-boton-registro {
    background-image: none;
    background-color: #93B0C5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listo-para-boton-Buscar {
    background-image: none;
    background-color: white;
    color: rgb(155, 201, 155);
    border-color: rgb(155, 201, 155);
    border-width: 1px;
    border-radius: 8px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.listo-para-boton-registro:hover {
    background-color: #7a9bb1;
}

.listo-para-boton-Buscar:hover {
    color: white;
    background-color: #deecde;
}